<!--Subscribe section start-->
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="footer-text">
          <img src="assets/images/email.png" alt="email">
          <h2 class="title text-center md-margin-top">subscribe to <span>newsletter</span></h2>
          <p> There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
          <form class="footer-form" (ngSubmit)="onSubmit(name.value)">
            <div class="form-group">
              <input #name type="email"  name="EMAIL" id="mce-EMAIL" class="form-control" placeholder="enter your email">
            </div>
            <div class="form-button">
              <button type="submit" class="btn btn-custom theme-color">send</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Subscribe section Ends-->
<!--Map Section Start-->
<section class="p-0">
  <div class="container-fluid">
    <div class="bottom-section">
      <div class="row">
        <div class="col-md-6 p-0">
          <div class="address-bar">
            <div>
              <ul class="footer-style">
                <li>
                  <div class="footer-icon">
                    <img src="assets/images/locate.png" alt="locate">
                  </div>
                  <div class="footer-address">
                    <a href="#">Jl. Putri Hijau , Medan Indonesia 20119</a>
                  </div>
                </li>
                <li>
                  <div class="footer-icon">
                    <img src="assets/images/telephone.png" alt="telephone">
                  </div>
                  <div class="footer-address">
                    <a href="#">122-456-7890  /  124-789-5690</a>
                  </div>
                </li>
                <li>
                  <div class="footer-icon">
                    <img src="assets/images/fotter-email.png" alt="fotter-email">
                  </div>
                  <div class="footer-address">
                    <a href="#">support@biwabit.com</a>
                  </div>
                </li>
                <li>
                  <div class="footer-icon">
                    <img src="assets/images/fax.png" alt="">
                  </div>
                  <div class="footer-address">
                    <a href="#">123-456  /  456-789</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6 p-0">
          <iframe src="https://www.google.com/maps/embed/v1/place?q=Jl%20putri%20hijau%2C%20medan&key=AIzaSyAcQApsB6EKiaWTH1d-AqpJDZ21rgr_8Bc" allowfullscreen class="md-height"></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Map Section Ends-->
